<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<h1>What is the wait of the package?</h1>

	<form action="/price">
		<input type="text" name="weight" placeholder="Weight (oz)" />
		<input type="radio" id="male" name="type" value="Letters (Stamped)">Letters (stamped)
		<input type="radio" id="male" name="type" value="Letters (Metered)">Letters (Metered)
		<input type="radio" id="male" name="type" value="Large Envelopes (Flats)"> Large Envelops (Flats)
		<input type="radio" id="male" name="type" value="First-Class Package Service—Retail">First-Class Package Service—Retail
		<button type="submit">Submit</button>
	</form>

	<script>
	</script>
</body>
</html>