<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<h1>What is the wait of the package?</h1>

	<form action="/home">
		<input type="text" placeholder="Weight (lbs)" />
		<input type="radio" id="male" name="gender" value="Letters (stamped)">
		<input type="radio" id="male" name="gender" value="Letters (Metered)">
		<input type="radio" id="male" name="gender" value="Large Envelopes (Flats)">
		<input type="radio" id="male" name="gender" value="First-Class Package Service—Retail">
		<input type="submit">Submit</input>
	</form>

	<script>
	</script>
</body>
</html>