<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<h1>Pricing</h1>
	<h2>Your price comes out to: <%= price %></h2>

	<p>(This is an ejs...)</p>

	<script>
	</script>
</body>
</html>